#header, /* this element is resistant to style change via CSS: requires JS */
#filelist-header {
    display: none;
}

#content {
    padding-top: 0;
}

#app-navigation,
#controls {
    top: 0;
}

#filestable > thead {
    top: 44px;
}
